.collapse {
  margin: 38px 208.5px;

  h1 {
    font-weight: normal;
  }

  .arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .collapse-header {
    position: relative;
    background: $color-1;
    color: $color-2;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
    padding: 10px 20px 10px 15px;
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    line-height: 23px;
    background: $color-3;
    color: $color-1;
    transition: max-height 0.2s ease-in-out;
  }

  .collapse-open {
    max-height: 500px;
  }

  .collapse-content p {
    padding: 20px;
  }
}

@media screen and (max-width: 895px) {
  .collapse {
    margin: 20px 20px;

    .collapse-header {
      height: 30px;
    }

    h1 {
      font-size: 13px;
    }

    .collapse-content {
      line-height: 17px;
      font-size: 13px;
    }
  }
}
