.banner {
  position: relative;
  margin: 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-banner {
    height: 223px;
  }

  .about-banner {
    height: 223px;
  }

  .banner-gradient {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    z-index: 1;
  }

  img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  h1 {
    position: absolute;
    font-size: 3rem;
    font-weight: 500;
    color: $color-2;
    z-index: 2;
  }
}

@media screen and (max-width: 895px) {
  .banner {
    margin: 0 20px 0;
    justify-content: left;

    .home-banner {
      height: 111px;
    }

    .banner-gradient {
      border-radius: 10px;
    }

    img {
      border-radius: 10px;
    }

    h1 {
      font-size: 1.5rem;
      margin: 0 102px 0 16px;
    }
  }
}
