.slideshow-collapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 76px;
  margin: 0 100px 50px;

  h1 {
    font-weight: normal;
    font-size: 18px;
  }

  .arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .slideshow-collapse-header {
    position: relative;
    background: $color-1;
    color: $color-2;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
    padding: 10px 20px 10px 15px;
  }

  .slideshow-collapse-content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    line-height: 23px;
    background: $color-3;
    color: $color-1;
    transition: max-height 0.2s ease-in-out;
  }

  .slideshow-collapse-open {
    max-height: 500px;
  }

  .description,
  .equipments {
    padding: 20px;
  }
}

@media screen and (max-width: 895px) {
  .slideshow-collapse {
    display: flex;
    flex-direction: column;
    margin: 0 20px 27px;
    gap: 20px;
    .slideshow-collapse-header {
      max-height: 30px;

      h1 {
        font-size: 13px;
      }
    }

    .slideshow-collapse-content {
      line-height: 17px;
      font-size: 13px;
    }
  }
}
