.description-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;

  .description {
    color: $color-1;

    h1 {
      font-size: 36px;
    }

    h2 {
      width: 130px;
      font-size: 18px;
      text-align: end;
    }

    p {
      font-size: 18px;
    }

    .tag-container {
      display: flex;
      gap: 10px;
    }

    .tag {
      margin-top: 20px;
      padding: 3px 30px 2px;
      text-align: center;
      font-size: 14px;
      background: $color-1;
      border-radius: 10px;
      color: $color-2;
    }
  }
}

.proprietaire-container {
  display: flex;
  flex-direction: column;
  gap: 21px;

  .proprietaire {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-1;
  }

  h2 {
    font-size: 18px;
  }

  .photo-proprietaire {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .stars {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}
