.description-container {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 24px;

  .description {
    color: $color-1;

    h1 {
      font-size: 36px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
    }

    .tag-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 10px;
    }

    .tag {
      padding: 3px 30px 2px;
      text-align: center;
      font-size: 14px;
      background: $color-1;
      border-radius: 10px;
      color: $color-2;
    }
  }
}

.proprietaire-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  .proprietaire {
    display: flex;
    align-items: center;
    color: $color-1;
    gap: 10px;
  }

  h2 {
    max-width: 100px;
    font-size: 18px;
    font-weight: 500;
    text-align: end;
  }

  .photo-proprietaire {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .star {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .description-container {
    .description {
      .tag {
        padding: 3px 20px 2px;
      }
    }
  }

  .proprietaire-container {
    .star {
      margin-left: 10px;
      width: 18px;
    }
  }
}

@media screen and (max-width: 895px) {
  .description-container {
    margin: 0 20px 13.5px;
    flex-direction: column;
    .description {
      .tag {
        font-size: 10px;
        padding: 3px 30px 2px;
      }
    }

    .proprietaire-container {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-top: 16.5px;
    }
  }
}

@media screen and (max-width: 550px) {
  .description-container {
    .description {
      h1 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      .tag-container {
        flex-wrap: wrap;
      }

      .tag {
        font-size: 10px;
      }
    }

    h2 {
      text-align: end;
      width: 50px;
      font-size: 12px;
    }
  }

  .proprietaire-container {
    .star {
      margin-left: 10px;
      width: 18px;
    }
  }
}
