@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

$color-1: #ff6060;
$color-2: #ffffff;
$color-3: #f6f6f6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  color: $color-1;
  cursor: pointer;
}
